{% load static %}

<ul class="list-unstyled">
  <li class="media" width="100%"
     height="50rem">
    <img src="{% static './images/male.png' %}" class="mr-3" alt="..." width="50rem"
     height="50rem">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Ahmad</h3>
    </div>
    
  </li>
  <hr>
  <li class="media my-4">
    <img src="{% static './images/famle.png' %}" class="mr-3" alt="..." width="50rem"
     height="50rem">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Mahmoud</h3>
    </div>
    
  </li>
  <hr>
  <li class="media">
    <img src="{% static './images/male.png' %}" class="mr-3" alt="..." width="50rem"
     height="50rem">
    <div class="media-body">
      <h3 class="mt-0 mb-1">Mohamed</h3>
    </div>
   
  </li>
   <hr>
</ul>


















